:root {
  --marquee-width: 100vw;
  --marquee-height: 10vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 8;
  --marquee-element-width: calc(
      var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.flex {
  display: flex;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}
.flex.space-between {
  justify-content: space-between;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

header {
  padding: 20px 0 10px;
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
header.fix-head .logo img {
  width: 172px;
}
header::before {
  position: absolute;
  content: "";
  background: url(../images/line.png);
  width: 100%;
  height: 8px;
  top: 0;
  left: 0;
  background-size: contain;
}
header .logo img {
  width: 201px;
  transition: 0.5s;
}
header .nav_wrap a {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: underline;
}
header .nav_wrap .menu_btn {
  margin-left: 18px;
}

.hero {
  padding-top: 80px;
}
.hero video {
  width: 100%;
}

.intro {
  background-color: #751f46;
  color: #fff;
  position: relative;
}
.intro a {
  margin-top: 20px;
  text-decoration: underline;
}

.marquee-container {
  width: 100%;
  height: auto;
  background-color: #facf71;
  color: #000;
  overflow: hidden;
  position: relative;
}
.marquee-container .marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
.marquee-container .marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: 22px;
  white-space: nowrap;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.marquee-container .marquee-content li i {
  font-size: 14px;
  margin-top: 5px;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}
.schedule {
  background: #f6f1ec;
}
.schedule h3 span {
  display: block;
  font-style: italic;
}
.schedule .hightlight_slider {
  margin-top: 40px;
}
.schedule .hightlight_slider .swiper-slide {
  background: #f6f1ec;
}
.schedule .hightlight_slider .date {
  margin-bottom: 40px;
  padding-left: 55px;
}
.schedule .hightlight_slider .date h5 {
  font-size: 28px;
}
.schedule .hightlight_slider p {
  margin-bottom: 10px;
}
.schedule .hightlight_slider p em {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  font-style: italic;
}
.schedule .hightlight_slider h4 {
  margin: 5px 0 15px;
}
.schedule .hightlight_slider .slide_img {
  margin-top: 70px;
}
.schedule .hightlight_slider .slide_img img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.schedule .hightlight_slider .schedule_content {
  height: 550px;
  overflow: auto;
  padding-right: 15px;
}
.schedule .hightlight_slider .schedule_content::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.schedule .hightlight_slider .schedule_content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #facf71;
}
.schedule .hightlight_slider .schedule_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}
.schedule .hightlight_slider .schedule_content table {
  border: 0;
}
.schedule .hightlight_slider .schedule_content table tr {
  border-bottom: 1px solid #cdcdcd;
}
.schedule .hightlight_slider .schedule_content table tr th,
.schedule .hightlight_slider .schedule_content table tr td {
  padding: 20px 0 10px;
}
.schedule .hightlight_slider .schedule_content table tr strong {
  font-weight: 700;
}
.schedule .hightlight_slider .schedule_content table tr h5 {
  margin-bottom: 15px;
}
.schedule .swiper-button-next,
.schedule .swiper-button-prev {
  position: absolute;
  top: 15px;
  left: 5px;
  font-size: 32px;
  color: #000;
}
.schedule .swiper-button-next::after,
.schedule .swiper-button-prev::after {
  content: none;
}
.schedule .swiper-button-next {
  left: 350px;
}

.timeline {
  background: #26528e;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.timeline .timeline_slider {
  margin-top: 40px;
  padding-bottom: 20px;
  position: relative;
}
.timeline .timeline_slider::before, .timeline .timeline_slider::after {
  position: absolute;
  top: 45%;
  left: -10px;
  content: "";
  background: url(../images/half.svg);
  width: 45%;
  height: 65%;
  z-index: 3;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  z-index: 2;
}
.timeline .timeline_slider::after {
  transform: scaleX(-1) translateY(-50%);
  left: auto;
  right: -10px;
}
.timeline .timeline_slider .swiper-wrapper {
  transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}
.timeline .timeline_slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 0;
}
.timeline .timeline_slider .swiper-slide {
  text-align: center;
  position: relative;
  z-index: 1;
}
.timeline .timeline_slider .swiper-slide.swiper-slide-active {
  position: relative;
  z-index: 4;
}
.timeline .timeline_slider .swiper-slide.swiper-slide-active img {
  transform: translate3d(0, 0, 0) scale(1);
  transition: 0.4s ease 1.6s;
  opacity: 1;
  z-index: 4;
  position: relative;
}
.timeline .timeline_slider .swiper-slide.swiper-slide-active .content {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.7s;
}
.timeline .timeline_slider .content {
  background: #fff;
  padding: 20px;
  color: #000;
  max-width: 570px;
  margin: -140px auto 0;
  position: relative;
  z-index: 5;
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: 0.2s ease 0.5s;
  text-align: left;
}
.timeline .timeline_slider .content h5 {
  margin-bottom: 5px;
  font-size: 26px;
  line-height: 36px;
}
.timeline .timeline_slider .content p {
  margin-bottom: 0;
}
.timeline .timeline_slider img {
  width: 100%;
  margin: auto;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate3d(20px, 0, 0) scale(0.8);
  opacity: 0.8;
  transition: 0.2s ease 0.4s;
}
.timeline .swiper-button-next,
.timeline .swiper-button-prev {
  color: #fff;
  font-size: 48px;
  z-index: 9999;
  left: 15%;
}
.timeline .swiper-button-next::after,
.timeline .swiper-button-prev::after {
  display: none;
}
.timeline .swiper-button-next {
  left: auto;
  right: 15%;
}
.timeline .text_center {
  width: 570px;
  max-width: 100%;
  margin: 20px auto 0;
}

.faq {
  background: #f4f4f4;
}
.faq h3 {
  color: #ef4a1f;
}
.faq img {
  width: 100%;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}
.faq .text h5 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
.faq .text p {
  margin-bottom: 25px;
  font-size: 16px;
}
.faq .faq-btn {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 600;
}

.testimonial .testimonial_wrap {
  border: 1px solid #26528e;
  padding: 10px;
  margin: 15px 0;
}
.testimonial .testimonial_wrap .row {
  align-items: center;
}
.testimonial .testimonial_wrap img {
  border-radius: 50%;
  width: 78px;
  height: 78px;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial .testimonial_wrap .profile h5 {
  font-size: 18px;
  line-height: 25px;
}
.testimonial .testimonial_wrap .profile p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
}
.testimonial .testimonial_wrap .text {
  margin-top: 20px;
  height: 250px;
  overflow: auto;
  padding-top: 5px;
  padding-right: 15px;
}
.testimonial .testimonial_wrap .text::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}
.testimonial .testimonial_wrap .text::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #26528e;
}
.testimonial .testimonial_wrap .text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}
.testimonial .testimonial_wrap .text p {
  font-size: 15px;
}

footer {
  background: #000;
  padding-bottom: 140px !important;
  position: relative;
}
footer::after {
  position: absolute;
  width: 100%;
  height: 145px;
  content: "";
  background-image: url(../images/footer.png);
  left: 0;
  bottom: 0;
  background-size: cover;
}
footer .footer_box {
  margin: 15px 0;
}
footer .footer_box h3 {
  font-size: 24px;
  color: #c3c2c2;
  margin-bottom: 5px;
}
footer .footer_box ul li {
  margin-bottom: 10px;
}
footer .footer_box ul a {
  color: #c3c2c2;
}
footer .footer_box ul a:hover {
  color: #fff;
}
footer .footer_box ul a i {
  margin-right: 6px;
}
footer .footer_logo img {
  width: 201px;
}
footer .text_right {
  padding-top: 20px;
}
footer .text_right p {
  margin-bottom: 0;
  color: #c3c2c2;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .marquee-container .marquee-content li {
    width: 50%;
  }
  .timeline .timeline_slider::before,
  .timeline .timeline_slider::after {
    display: none;
  }
  .faq img {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=style.css.map */